body {
  background-image: url("https://image.freepik.com/foto-gratis/fondo-hierba-verde-campo-futbol_41969-2262.jpg");
  margin: 12px;
}
body header {
  text-align: center;
  border-width: 8px;
  border-style: dotted;
  border-color: yellow;
}

h1 {
  background: green;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.contenido {
  display: flex;
  margin: 30px;
  width: auto;
}

.equipo {
  margin: 20px;
  background-image: url("./card.png");
  width: 30%;
  text-align: center;
  padding: 3px 10px;
  border-radius: 8px;
  -webkit-box-shadow: 14px -1px 9px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px -1px 9px 9px rgba(0, 0, 0, 0.75);
  box-shadow: 14px -1px 9px 9px rgba(0, 0, 0, 0.75);
}

.boton h4{
  border-style: solid;
  -moz-border-radius: 18px;
  -webkit-border-radius: 50px;
  padding: 10px;
  background: #929392;
  text-align: center;
}

#nacional {
  background: orange;
}

#penarol {
  background: green;
}

#alahly {
  background: pink;
}

#rangers {
  background: #8875df;
}

.first, p {
  color: #dd5620;
}

.first::first-line {
  color: #FFFFFF;
}

.introduccion {
  max-width: max-content;
}

p[class~=first] {
  background: blue;
}

div[id*=e] {
  color: red;
}

div[class^=i] {
  background-image: url("./card.png");
  border-radius: 8px;
}

.parrafos p:first-child {
  font-size: 200%;
  color: green;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #111111;
  max-width: max-content;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.imagen img {
  height: 200px;
  text-align: center;
  max-width: 100%;
}

a {
  color: #111111;
}

ul {
  font-size: 200%;
}

.home {
  float: right;
  color: #FFFFFF;
  font-weight: bold;
}